<h1>Login to your Game Book account</h1>
<label for="Username">Username: </label>
<input type="text" class="form-control" formControlName="Username" placeholder="Username">
<br><br>
<label for="Password">Password: </label>
<input type="text" class="form-control" formControlName="Password" placeholder="Password">
<br><br>
<button>Login</button>
<a routerLink="/signup"><button>Sign Up</button></a>
<a routerLink="/userlist"><button>User List</button></a>
<!-- <div>
    <label for="Username">Username:</label>
    <input type="text" [(ngModel)]="newPlayer.fname" name="fname" placeholder="first name">
    <label for="Password">Password:</label>
    <input type="text" [(ngModel)]="newPlayer.lname" name="lname" placeholder="last name">
    <br><br>
    <button (click)="UserLogin()">Login</button>
  </div>  -->