<h1>
    Game Discussion
</h1>

<form action="/action_page.php">
    <label for="fname">Start A New Game Discussion:</label>
    <br>
    <textarea rows="4" cols="50">Write Here!</textarea>
    <br>
    <input type="submit" value="Submit">
  </form>

  <br>
  <br>
  
  <div class="container" >
    <table class="table table-bordered table-striped">
      <caption>User post ids</caption>
      <thead>
      <tr>
        <th id = "display">Content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td><span>{{post.postId}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>

<!-- 
  <div>
    <label for="new-post">Start A New Game Discussion: </label>
    <input id="new-post" #post /> -->
  
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- <button class="add-button" (click)="add(post.value); post.value=''">
      Add post
    </button>
  </div> -->