<h1>
    Account Details
</h1>
<div id = "container">
    <div id = "left">
    <table class="table table-bordered table-striped">
        <caption>User Details</caption>
      <thead>
      <tr>
        <th id = "display">ID</th>
        <th id = "display">Firstname</th>
        <th id = "display">Lastname</th>
        <th id = "display">Username</th>
        <th id = "display">Email</th>
        <th id = "display">Password</th>
        <th id = "display">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr class="list-entry" *ngFor="let user of users">
        <td><span>{{user.UserId}}</span></td>
        <td><span>{{user.FirstName}}</span></td>
        <td><span>{{user.LastName}}</span></td>
        <td><span>{{user.Username}}</span></td>
        <td><span>{{user.Email}}</span></td>
        <td><span>{{user.Email}}</span></td>
        <td><span><a>Edit</a></span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id = "center">
    <table class="table table-bordered table-striped">
        <caption>Play History</caption>
      <thead>
      <tr>
        <th id = "display">User ID</th>
        <th id = "display">Game ID</th>
        <th id = "display">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let playhistory of playHistory">
        <td><span>{{playhistory.userId}}</span></td>
        <td><span>{{playhistory.gameId}}</span></td>
        <td><span><a> Remove Game</a></span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id = "right">
    <table class="table table-bordered table-striped">
        <caption>Friends</caption>
      <thead>
      <tr>
        <th id = "display">ID 1</th>
        <th id = "display">ID 2</th>
        <th id = "display">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let friend of friends">
        <td><span>{{friend.user1Id}}</span></td>
        <td><span>{{friend.user1Id}}</span></td>
        <td><span><a> Remove Friend</a></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

